<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">
  <meta name="rating" content="General">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/games.css">

  <title>Steam Recommender</title>
</head>
<body>

  {{{body}}}

</body>
</html>
