<div class="about-container">
  <div class="header">
    What is this?
  </div>
  <div class="description">
    <p>GamesRecommender is a recommendation platform based on machine learning algorithms which are currently working with Steam library.</p>
    <p>It actually has some serious stuff underneath of it(NodeJS, PostgreSQL, Redis, Docker-based microservices, Collaboration filtering) so if you're interested in checking out the source code, it's hosted on <a href="https://github.com/G07cha/GamesRecommender" target="_blank">GitHub</a>.</p>
    <p>My personal motivation was to build a non-trivial project, learn something new and present it as my diploma project :)</p>
  </div>
</div>
