<form class="main-form" action="{{domain}}/games" method="post">
  <h1 class="title">
    Games Recommender
  </h1>
  <small class="subtitle">True recommendations based on steam community</small>
  <hr>
  <p class="error">
    {{error}}
  </p>
  <label for="value" class="label">Enter your steam ID:</label>
  <input type="text" class="input" name="value" id="valueInput" required>
  <button type="submit" class="btn positive" id="submitBtn">Get recommendations</button>
</form>
