.game-list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 20px;
}

@media (max-width: 700px) {
  .game-list > .game {
    width: 100%;
  }
}

.game-list > .game {
  display: flex;
  flex-direction: column;
  position: relative;
	margin-bottom: 20px;
	background: #fefff9;
	color: #363636;
  border: 1px solid #ececec;
  box-shadow: none;
	text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  max-width: 270px;
  transition: box-shadow 0.5s;
}

.game-list > .game:hover {
  transition: box-shadow 1s;
  background: white;
  box-shadow: #868686 0 0 8px 0;
}

.game a {
  text-decoration: none;
}

.game .name {
  padding-left: 5px;
  margin: 10px 0;
  color: black;
}

.game .logo {
  flex: 1 1 auto;
  height: auto;
  width: 270px;
  display: block;
}

.game .genre-list {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game .genre {
  background-color: #6161b5;
  color: white;
  border-radius: 10px;
  margin: 2px 5px;
  padding: 5px;
}

.game > .game-footer {
  flex: 0 0 30px;
  margin: 5px;
}

.game .price {
  vertical-align: middle;
}

.game .show-btn {
  margin: 10px 0;
}

.show-btn > .btn {
  float: right;
}

.pagination {
  margin-bottom: 20px;
  text-align: center;
}

.pagination > a {
  text-decoration: none;
}
